%section#introduction
  .container
    .row.fill-viewport.align-items-center.justify-content-center
      .col-12.col-md-6
        .row
          .col-md-auto
            %h1.text-white.title
              = I18n.t("title")
        -if Codebraker::Statistics.new.show.empty?
          %p.lead.text-white-70
            = I18n.t("no_winners")
        -else
          %p.lead.text-white-70
            = I18n.t("label.top_players")
          %hr.mb-4/
          .table-responsive-md.scores
            %table.table.table-striped.table.table-sm
              %thead
                %tr
                  %th{:scope => "col"} #
                  %th{:scope => "col"}
                    = I18n.t("name")
                  %th{:scope => "col"}
                    = I18n.t("level")
                  %th{:scope => "col"}
                    = I18n.t("attempts_used")
                  %th{:scope => "col"}
                    = I18n.t("hints_used")
              %tbody
                - Codebraker::Statistics.new.show.map.with_index do |game, index|
                  %tr
                    %th{:scope => "row"}
                      = index+1
                    %td
                      = game[:name]
                    %td
                      = game[:difficulty].to_s.upcase
                    %td
                      = game[:used_attempts]
                      = '/'
                      = game[:available_attempts]
                    %td
                      = game[:used_hints]
                      = '/'
                      = game[:available_hints]
        %hr.mb-4/
        %a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}
          = I18n.t("button.home")
